EJERCICIO 1

Al empezar a trabajar con este dataframe ya eliminamos algunas columnas que a priori no nos interesaban. Ahora llega el momento de eliminar alguna columna más. En este caso vamos tendréis que eliminar las columnas que no nos sean útiles para contestar a nuestras preguntas. Pero ojo ⚠️, haced una copia del dataframe para no "cargarnos" el dataframe original y perder la info.

Hipótesis

Las hipótesis que os planteamos son:
- ¿Es Australia el sitio más peligroso y letal para estar relajada en la playa?
- ¿Hay diferencias entre los países en los ataques a hombres y mujeres?
- ¿Cuáles son las edades que más sufren ataques?
- Independientemente de la edad, ¿sufren los hombres más ataques que las mujeres?
- ¿En qué mes ocurren más ataques?
- ¿Cuál es la relación entre la especie y el tipo de ataque (si es fatal o no)?
- ¿Cómo han evolucionado los ataques a lo largo del tiempo?

In [3]:
import pandas as pd
df2=pd.read_csv('attack_eda.csv', index_col=0)
df2

,case_number,year,type,country,area,location,activity,name,age,time,species_,href,injury,date,mes,fatal_,sex2
0,1800.00.00,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,"FATAL, all onboard were killed by sharks",1800,NaN,y,F
1,1797.05.28.R,1797.0,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,FATAL,Reported May-28-1797,May,y,NaN
2,1792.09.12,1792.0,Provoked,ENGLAND,NaN,On the Thames River,Fishing,male,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,"FATAL, PROVOKED INCIDENT",12-Sep-1792,Sep,y,M
3,1791.00.00,1791.0,Unprovoked,AUSTRALIA,New South Wales,Port Jackson,NaN,"female, an Australian aboriginal",NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,"FATAL, ""bitten in two""",1791,NaN,y,F
4,1788.05.10,1788.0,Boat,AUSTRALIA,New South Wales,Sydney Harbor,Fishing,boat,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,"No injury to occupants, shark bit oar and rudder",10-May-1788,May,n,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6279,1804.02.26.R,1804.0,Boat,AUSTRALIA,New South Wales,"Georges Head, off Port Jackson",NaN,boat,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,No injury to occupants,Reported 26-Feb-1804,Feb,n,NaN
6280,1803.05.17,1803.0,Sea Disaster,USA,South Carolina,Off Charleston,NaN,Captain Jones,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,No injury,May-17-1803,May,n,M
6281,1803.03.00,1803.0,Unprovoked,AUSTRALIA,Western Australia,"Hamelin Harbour, at Faure Island",NaN,M. Lefevre & a sailor (rescuer),NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,Shark knocked him down & tore clothing of the ...,Mar-1803,Mar,n,M
6282,1802.04.13.R,1802.0,Unprovoked,INDIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,FATAL,Reported Apr-13-1802,Apr,y,NaN
6283,1801.12.18.R,1801.0,Provoked,NaN,NaN,NaN,Standing on landed shark's tail,Stephen Pettigew,NaN,NaN,12' shark,http://sharkattackfile.net/spreadsheets/pdf_di...,"FATAL, PROVOKED INCIDENT",Reported 18-Dec-1801,Dec,y,F

In [4]:
df=df2.copy()

In [6]:
df.columns

Index(['case_number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'age', 'time', 'species_', 'href', 'injury', 'date',
       'mes', 'fatal_', 'sex2'],
      dtype='object')

In [9]:
df.drop(['area', 'location','activity','href','injury','type','date','time'], axis=1, inplace=True)

KeyboardInterrupt

In [11]:
df.drop(['name'],axis=1,inplace=True)

EJERCICIO 2

¿Hay valores duplicados en nuestro dataframe? En caso de que los haya, eliminándolos.

In [14]:
df.duplicated().sum()

0

EJERCICIO 3

Como hemos visto, algunas columnas no tienen el tipo de datos que deberían. Cambiad el tipo de dato para la columna de year.

In [15]:
df.dtypes

case_number     object
year           float64
country         object
age             object
species_        object
mes             object
fatal_          object
sex2            object
dtype: object

In [16]:
df['year']=df['year'].astype('int64',errors='ignore')

EJERCICIO 4

En la columna de country poner todos los valores en minúsculas.
💡 Pista Tendréis que usar una función o una lambda 💡

In [32]:
def cambiar_minusculas(x):
   if type(x) == str:
      return(x.lower())
   else:
      return(x)

In [33]:
df['country']=df['country'].apply(cambiar_minusculas)

EJERCICIO 5

Guardamos el csv para seguir trabajando en el siguiente ejercicio de pair de limpieza.

In [35]:
df.to_csv('attack_limpieza1.csv')