
- Cuando ya tengamos todos los datos deseados juntaremos los dos csv.
- Para hacer esta unión tendremos que hacer un groupby en la tabla de clima para sacar una media de las medidas climáticas por país.
- Antes de hacer el groupby si nos fijamos tenemos dos columnas rh_profile y wind_profile cuya información es una lista de diccionarios. Si intentamos hacer la media de eso no nos dará un valor real. A este problema ya nos enfrentamos en la clase invertida de ETL-2, donde teníais un Bonus para desempaquetar esta información. En caso de que en aquel ejercicio no lo consigierais os dejamos por aquí una posible solución que nos permite separar esa información en distintas columnas. Os dejamos el código documentado. ⚠️ Os recomendamos que vayáis desgranando el código y viendo lo que nos devuelve cada línea de código para entenderlo mejor.

- Cargaremos los dos ficheros de datos

In [14]:
from IPython.core.interactiveshell import InteractiveShell # Nos permite mostar más de una salida por celda
InteractiveShell.ast_node_interactivity = "all" # Nos permite mostar más de una salida por celda

import requests
import pandas as pd
import numpy as np
df_clima= pd.read_csv("../Ficheros/ETL1.csv", index_col = 0)
df_attacks= pd.read_csv("../Ficheros/attacks_limpieza_completa.csv", index_col = 0)

- Del dataframe de los ataques nos quedaremos solo con las filas de los países que seleccionamos en la lección de ayer:
    - USA
    - Australia
    - New Zealand
    - South Africa
    - Papua New Guinea

In [15]:
df_seleccion = df_attacks[(df_attacks["country"]== "usa") | (df_attacks["country"] == "australia") | (df_attacks["country"] == "new zealand") | (df_attacks["country"] == "south africa") | (df_attacks["country"] == "papua new guinea")]

In [16]:
df_seleccion["country"].unique()

array(['usa', 'australia', 'south africa', 'new zealand',
       'papua new guinea'], dtype=object)


- Del dataframe de los datos climáticos seleccionaremos todas las columnas.

In [31]:
#modificar rh profile y wind_profile ( aplicar el codigo de la clase, xk son listas con diccionarios dentro),
#luego contendra un string que contiee list_dialects
#y pasamos estas liastas a nuevas columnas

In [17]:
df_clima.columns

Index(['timepoint', 'cloudcover', 'highcloud', 'midcloud', 'lowcloud',
       'rh_profile', 'wind_profile', 'temp2m', 'lifted_index', 'rh2m',
       'msl_pressure', 'prec_type', 'prec_amount', 'snow_depth',
       'wind10m.direction', 'wind10m.speed', 'latitud', 'longitud', 'paises'],
      dtype='object')

In [23]:
df_clima["paises"].unique()

array(['USA', 'Australia', 'South Africa', 'New Zealand',
       'Papua New Guinea'], dtype=object)

- Cuando ya tengamos todos los datos deseados juntaremos los dos csv.

In [25]:
df_clima.rename(columns={"paises":"country"}, inplace=True)

In [28]:
df_clima.columns

Index(['timepoint', 'cloudcover', 'highcloud', 'midcloud', 'lowcloud',
       'rh_profile', 'wind_profile', 'temp2m', 'lifted_index', 'rh2m',
       'msl_pressure', 'prec_type', 'prec_amount', 'snow_depth',
       'wind10m.direction', 'wind10m.speed', 'latitud', 'longitud', 'country'],
      dtype='object')

In [24]:
df_final = pd.merge(left = df_seleccion, right= df_clima, how= "left", left_on= "country", right_on= "paises")
df_final.head()

,year,type,country,age,species_,fecha_limpia,fatal,sex,latitud_x,longitud_x,...,rh2m,msl_pressure,prec_type,prec_amount,snow_depth,wind10m.direction,wind10m.speed,latitud_y,longitud_y,paises
0,2018,Boating,usa,57.0,White shark,Jun,N,F,39.783730,-100.445882,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018,Unprovoked,usa,11.0,Unespecific,Jun,N,F,39.783730,-100.445882,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018,Invalid,usa,48.0,Unespecific,Jun,N,M,39.783730,-100.445882,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018,Unprovoked,australia,27.0,Unespecific,Jun,N,M,-24.776109,134.755000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018,Unprovoked,australia,27.0,Unespecific,Jun,N,M,-24.776109,134.755000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
df_final1 = df_seleccion.merge(df_clima, on = "country")
df_final1

Empty DataFrame
Columns: [year, type, country, age, species_, fecha_limpia, fatal, sex, latitud_x, longitud_x, country2, fatal_N, fatal_Unknown, fatal_Y, fatal_N.1, fatal_Unknown.1, fatal_Y.1, species_.1, fecha_limpia.1, type.1, age_NORM, timepoint, cloudcover, highcloud, midcloud, lowcloud, rh_profile, wind_profile, temp2m, lifted_index, rh2m, msl_pressure, prec_type, prec_amount, snow_depth, wind10m.direction, wind10m.speed, latitud_y, longitud_y]
Index: []

[0 rows x 39 columns]